<h1>Template form</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
    <div class="form-group" [ngClass]="aplicaCssError(email)">
    <div class="col-sm-12">
        <label for="inputEmail3" class="control-label">Email</label>
    </div>   
    <div class="col-sm-12">
      <input  #email="ngModel" type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" ngModel required email>
    </div>
  </div>
  <app-error [mostraError]="verificaCampo(email)" msgError="Email è obrigatorio"></app-error>
    
  <div class="form-group" [ngClass]="aplicaCssError(nome)">
      <div class="col-sm-12">
        <label for="nome" class="control-label">Nome</label>
      </div>
      <div class="col-sm-12">
        <input #nome="ngModel" type="text" class="form-control" id="nome" placeholder="nome" name="nome" ngModel required>
      </div>
    </div>
    <app-error [mostraError]="verificaCampo(nome)" msgError="Nome è obrigatorio"></app-error>
    
    <div ngModelGroup="endereco">
  
      <div class="form-group"  >
        <div class="col-sm-3" [ngClass]="aplicaCssError(cep)">
          <label for="cep" class="control-label">CEP</label>
          <input #cep="ngModel" type="text" class="form-control" id="cep" placeholder="CEP" name="cep" ngModel required (blur)="pesquizaCEP($event.target.value, f)">
          <app-error [mostraError]="verificaCampo(cep)" msgError="CEP è obrigatorio"></app-error>
        </div>
        <div class="col-sm-3"[ngClass]="aplicaCssError(num)">
          <label for="numero" class="control-label">Numero</label>
          <input #num="ngModel" type="text" class="form-control" id="numero" placeholder="Numero" name="num" ngModel required >
          <app-error [mostraError]="verificaCampo(num)" msgError="Numero è obrigatorio"></app-error>
        </div>
        <div class="col-sm-6">
          <label for="complemento" class="control-label">Complemento</label>
          <input #complemento="ngModel" type="text" class="form-control" id="complemento" placeholder="Complemento" name="complemento" ngModel >
        </div>
      </div>
      
      <div class="form-group" [ngClass]="aplicaCssError(rua)">
        <div class="col-sm-12">
          <label for="inputrua3" class="control-label">Rua</label>
        </div>   
        <div class="col-sm-12">
          <input  #rua="ngModel" type="rua" class="form-control" id="inputrua3" placeholder="Rua" name="rua" ngModel required readonly>
        </div>
      </div>
      <app-error [mostraError]="verificaCampo(rua)" msgError="Rua è obrigatorio"></app-error>
      
      <div class="form-group"  >
        <div class="col-sm-5" [ngClass]="aplicaCssError(bairro)">
          <label for="bairro" class="control-label">Bairro</label>
          <input #bairro="ngModel" type="text" class="form-control" id="bairro" placeholder="Bairro" name="bairro" ngModel required readonly>
          <app-error [mostraError]="verificaCampo(bairro)" msgError="bairro è obrigatorio"></app-error>
        </div> 
        <div class="col-sm-4" [ngClass]="aplicaCssError(cidade)">
          <label for="cidade" class="control-label">cidade</label>
          <input #cidade="ngModel" type="text" class="form-control" id="cidade" placeholder="cidade" name="cidade" ngModel required readonly >
          <app-error [mostraError]="verificaCampo(cidade)" msgError="Cidade è obrigatorio"></app-error>
        </div>
        
        <div class="col-sm-3" [ngClass]="aplicaCssError(estado)">
          <label for="estado" class="control-label">Estado</label>
          <input type="text" class="form-control" id="estado" name="estado" ngModel required #estado="ngModel" readonly>
          <app-error [mostraError]="verificaCampo(estado)" msgError="Estado é obrigatório.">
          </app-error>  
        </div>
      </div>
      
    </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default"[disabled]="!f.valid" >Sign in</button>
        </div>
      </div>
      <app-form-debug [form]="f"></app-form-debug>
    </form>
    