<!--The content below is only a placeholder and can be replaced.-->
{{title}}
<!--
<app-meu-primeiro></app-meu-primeiro>


<app-ciclo [valorinicial]="valorInicial" *ngIf="!deletarCiclo"></app-ciclo>
<button class="btn btn-primary" (click)="mudarValor()">Muda Valor</button>
<button class="btn btn-danger" (click)="deleteCiclo()">Delet Ciclo</button>
<app-diretivas-ngif></app-diretivas-ngif>
<app-diretivas-ngswitch></app-diretivas-ngswitch>
<app-ng-for></app-ng-for>
<app-diretiva-ng-class></app-diretiva-ng-class>
<app-operador-elvis></app-operador-elvis>  
<app-ng-component>
    <div class="title">Ola mundo</div>
    <div class="corpo">Corpo do site</div>
    <div class="corpo">Novo Corpo do site</div>
</app-ng-component>
<app-data-binding></app-data-binding>
<app-diretiva></app-diretiva>
<app-criar-curso></app-criar-curso> 
<br><br>
<app-cursos></app-cursos>
-->
<app-exemplos-pipes></app-exemplos-pipes>