<h4>Diretivas ngIf</h4>

<div *ngIf="cursos.length > 0">
  <p>Lista de Cursos</p>
</div>
<div *ngIf="cursos.length == 0">
  <p>Não existe curso cadastrados</p>
</div>
<div *ngIf="mostrarCurso">
  <p>Mostar cursos</p>
</div>
<div *ngIf="!mostrarCurso">
  <p>Esconder cursos</p>
</div>
<br>
<button (click)="mostrarCursos()">Mostrar ou Esconder cusos</button>

<h3>Hidden alternativva</h3>
<div [hidden]="mostrarCurso">
    <p>Esconder cursos</p>
  </div>
  <div [hidden]="!mostrarCurso">
    <p>Mostar cursos</p>
  </div>