<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    
  <div class="form-group" [ngClass]="aplicaCssError('email')">
      <label for="email" class=" control-label">Email</label>
      <div class="col-sm-12">
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        <app-error [mostraError]="verificaCampo('email')" msgError="Email è obrigatorio"></app-error>
        <app-error [mostraError]="verificaEmailValido('email')" msgError="Digite um email valido"></app-error>
      </div>
    </div>
    
    <div class="form-group" [ngClass]="aplicaCssError('nome')">
      <label for="nome" class=" control-label">Nome</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
        <app-error [mostraError]="verificaCampo('nome')" msgError="Nome è obrigatorio"></app-error>
      </div>
    </div>
    
    <div formGroupName="endereco">
        <div class="form-group"  >
          <div class="col-sm-3" [ngClass]="aplicaCssError('endereco.cep')">
            <label for="cep" class="control-label">CEP</label>
            <input type="text" class="form-control" id="cep" placeholder="CEP" formControlName="cep" (blur)="consultaCEP()" >
            <app-error [mostraError]="verificaCampo('endereco.cep')" msgError="CEP è obrigatorio"></app-error>
          </div>
          <div class="col-sm-3"[ngClass]="aplicaCssError('endereco.num')">
            <label for="numero" class="control-label">Numero</label>
            <input  type="text" class="form-control" id="numero" placeholder="Numero" formControlName="num" >
            <app-error [mostraError]="verificaCampo('endereco.num')" msgError="Numero è obrigatorio"></app-error>
          </div>
          <div class="col-sm-6">
            <label for="complemento" class="control-label">Complemento</label>
            <input  type="text" class="form-control" id="complemento" placeholder="Complemento" formControlName="complemento"  >
          </div>
        </div>
        
        <div class="form-group" [ngClass]="aplicaCssError('endereco.rua')">
          <div class="col-sm-12">
            <label for="inputrua3" class="control-label">Rua</label>
          </div>   
          <div class="col-sm-12">
            <input type="rua" class="form-control" id="inputrua3" placeholder="Rua" formControlName="rua" readonly>
          </div>
        </div>
        <app-error [mostraError]="verificaCampo('endereco.rua')" msgError="Rua è obrigatorio"></app-error>
        
        <div class="form-group"  >
          <div class="col-sm-5" [ngClass]="aplicaCssError('endereco.bairro')">
            <label for="bairro" class="control-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" placeholder="Bairro" formControlName="bairro" readonly>
            <app-error [mostraError]="verificaCampo('endereco.bairro')" msgError="bairro è obrigatorio"></app-error>
          </div> 
          <div class="col-sm-4" [ngClass]="aplicaCssError('endereco.cidade')">
            <label for="cidade" class="control-label">cidade</label>
            <input type="text" class="form-control" id="cidade" placeholder="cidade" formControlName="cidade" readonly>
            <app-error [mostraError]="verificaCampo('endereco.cidade')" msgError="Cidade è obrigatorio"></app-error>
          </div>
          
          <div class="col-sm-3" [ngClass]="aplicaCssError('endereco.estado')">
            <label for="estado" class="control-label">Estado</label>
            <input type="text" class="form-control" id="estado" formControlName="estado" readonly>
            <app-error [mostraError]="verificaCampo('endereco.estado')" msgError="Estado é obrigatório.">
            </app-error>  
          </div>
        </div>
        
      </div> 

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" >Sign in</button>
        <input class="btn btn-danger" type="button"(click)="resetar()" value="Cancelar">
      </div>
    </div>
  </form>
  
  <app-form-debug [form]="formulario"></app-form-debug>